{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Son ", "Kid ", "Mr ", "Future ", "Sir ", "Prince ", "Princess ", "Queen ", "King ", "", "", "", "", "", "", "" ],
      [ { "mode" : "alts" }, "To", "Ga", "Ol", "Or", "Raa", "Na", "Au", "Hay", "Le", "Zu", "Mi" ],
	  [ { "mode" : "alts" }, "mat", "rus", "pard", "lic", "chi", "li", "lot", "per", "bi", "ku", "han", "en", "lee"  ]
    ]
  ]
}