{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [
      { "item" : "redditdeadlegs" },
 	  { "item" : "redditdeadchest" },
	  { "item" : "redditbackpackupvote" },
	  { "item" : "redditbackpackdownvote" },
	  { "item" : "redditdeadhead" },
	  { "item" : "upvoter" },
	  { "item" : "downvoter" },
	  { "item" : "redditarmortable" }
    ]
  }
}