{
  "__merge" : [],
  "defaultBlueprints" : {
  "__merge" : [],
    "tier1" : [ 
		{ "item" : "hevsuitimitationchest" },
		{ "item" : "hevsuitimitationpants" },   
		{ "item" : "hevsuitimitationhead" },
		{ "item" : "hevsuitchest" },
		{ "item" : "hevsuitpants" },
		{ "item" : "hevsuithead" },
		{ "item" : "freemanglasses" }
	]
  }
}