{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [
			{ "item" : "vehiclestation" },
			{ "item" : "humanmechbody" },
			{ "item" : "humanmechcore" },
			{ "item" : "humanmechgun" },
			{ "item" : "humanmechleg" },
			{ "item" : "apexmechbody" },
			{ "item" : "apexmechcore" },
			{ "item" : "apexmechgun" },
			{ "item" : "apexmechleg" }
		]
  }
}
