{
  "refreshInterval" : 2.0,
  "initialcodex" : {
    "glitch" : [ "controls", "glitchprologue", "glitchorigins", "glitchnotes" ],
    "human" : [ "controls", "humanprologue", "humanorigins", "humanescape" ],
    "avian" : [ "controls", "avianprologue", "avianorigins", "aviannotes" ],
    "apex" : [ "controls", "apexprologue", "apexorigins", "apexplea" ],
    "floran" : [ "controls", "floranprologue", "floranorigins", "floranambition" ],
    "hylotl" : [ "controls", "hylotlprologue", "hylotlorigins", "hylotldirective" ],
    "penguin" : [ "controls", "floranprologue", "floranorigins", "floranambition" ]
  }
}
