{
  "__merge" : [],
  "defaultBlueprints" : {
	"tier1" : [ 
		{ "item" : "blackgoldcape" },
		{ "item" : "blackbluecape" },
		{ "item" : "blackblackcape" },
		{ "item" : "blackgreencape" },
		{ "item" : "blackpurplecape" },
		{ "item" : "blackredcape" },
		{ "item" : "blackwhitecape" },
		{ "item" : "blacktealcape" },
		{ "item" : "alienmeatcape" }
    ]
    }
}