{
  "__merge" : [],
  "paneLayout" : {
    "species" : {
      "buttons" : [
        {
          "image" : "",
          "position" : [208, 0]
        },
        {
          "image" : "",
          "position" : [235, 0]
        },
        {
          "image" : "",
          "position" : [262, 0]
        },
        {
          "image" : "",
          "position" : [208, -26]
        },
        {
          "image" : "",
          "position" : [235, -26]
        },
        {
          "image" : "",
          "position" : [262, -26]
        },
        {
          "image" : "",
          "position" : [208, -52]
        },
        {
          "image" : "",
          "position" : [235, -52]
        },
        {
          "image" : "",
          "position" : [262, -52]
        },
        {
          "image" : "",
          "position" : [208, -78]
        },
        {
          "image" : "",
          "position" : [235, -78]
        },
        {
          "image" : "",
          "position" : [262, -78]
        }
      ]
    }
  }
}
