{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [
    ],
    "tier1" : [ { "item" : "MechWarsStation" },
				{ "item" : "apexengineermechtech-chip" },
				{ "item" : "apexflightmechtech-chip" },
				{ "item" : "apexsoldiermechtech-chip" },
				{ "item" : "humanengineermechtech-chip" },
				{ "item" : "humanflightmechtech-chip" },
				{ "item" : "humansoldiermechtech-chip" } ]
  }
}