{
    "__merge" : [],
    "defaultBlueprints" : {
        "__merge" : [],
        "tier1": [
            { "item" : "generatedshield", "count" : 1, "data" : { "definition" : "dekushield", "level" : 10 } },
            { "item" : "generatedshield", "count" : 1, "data" : { "definition" : "hyruleshield", "level" : 20 } },
			{ "item" : "bombplantseed" },
	        { "item" : "ocarina" },
	        { "item" : "fairybow" },
	        { "item" : "gossipstone" },
	        { "item" : "hookshot" },
	        { "item" : "alinktothepastchest" },
	        { "item" : "skywardswordchest" },
	        { "item" : "zoraarmorpants" },
	        { "item" : "zoraarmorchest" },
	        { "item" : "zoraarmorhead" },
	        { "item" : "goronarmorpants" },
	        { "item" : "goronarmorchest" },
	        { "item" : "goronarmorhead" },
	        { "item" : "linkarmorpants" },
	        { "item" : "linkarmorchest" },
	        { "item" : "linkarmorhead" },
	        { "item" : "kokirisword" },
	        { "item" : "herossword" }  
        ],
		"tier2": [
		    { "item" : "skullhammer" }
	    ],
		"tier3" : [
	        { "item" : "mastersword" },
	        { "item" : "generatedshield", "count" : 1, "data" : { "definition" : "mirrorshield", "level" : 30 } }
        ],
		"tier4" : [
	        { "item" : "phantomblade" }
		]
    }
}