{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "weakenergyblaste"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.wav" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2,
      "delaySteps" : 2
    }

  ]
}
