{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Anald", "Anti", "Banante", "Chinta", "Chungotlus", "Entans", "Jreengus", "Obaba", "Shanenty", "Shibobe" ],
      [ { "mode" : "alts" }, " Fierce", " Magic", " Molten", " Strong", " Whacking" ],
	  [ { "mode" : "alts" }, "-Claw", "-Eye", "-Hunter", "-Scratches", "-Tooth", "-Winter" ]
    ]
  ]
}
